<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <appSettings>
    <add key="mongoDBConnect" value="mongodb://localhost"/>
    
    <!--<add key ="mongoDBConnect" value="mongodb://neismit:6nC@CZI4rpN*K4M@ds059947.mongolab.com:59947" />-->
    <!--<add key ="mongoDBConnect" value="mongodb://admin:6nC@CZI4rpN*K4M@ds059947.mongolab.com:59947" />-->
    <add key ="dbName" value="emdsdb"/>
    <add key ="collectionName" value="NeuralTrainLog"/>
  </appSettings>
</configuration>
